@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

.danger {
  margin-top: 30px;
  color: #a80000;
  transition: all 0.3s ease-in-out;
  width: fit-content;
}

.danger:hover {
  padding: 0.5rem;
  background-color: #a80000;
  color: #fff;
  border-radius: 5px;
}

body {
  font-family: 'Roboto Mono', monospace;
}

a {
  color: #000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}
#submit {
  scale(1);
  cursor: pointer;
  border-radius: 5em;
  transition: all 0.4s ease-in-out;
  border: 3px solid #007CFF;
  background-color: white;
  margin-left: 5px;
}

#submit:hover{
  color: white;
  background-color: #007CFF;
  scale: 1.05;
}

#linkcreate:hover{
  color: #007CFF;
  cursor: pointer;
   transition: all 0.2s;
}

#linklogin:hover{
  color: #007CFF;
  cursor: pointer;
   transition: all 0.2s;
}

